In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [55]:
data = pd.read_csv("E:\data_stocks.csv")

In [56]:
data.head()

,DATE,SP500,NASDAQ.AAL,NASDAQ.AAPL,NASDAQ.ADBE,NASDAQ.ADI,NASDAQ.ADP,NASDAQ.ADSK,NASDAQ.AKAM,NASDAQ.ALXN,...,NYSE.WYN,NYSE.XEC,NYSE.XEL,NYSE.XL,NYSE.XOM,NYSE.XRX,NYSE.XYL,NYSE.YUM,NYSE.ZBH,NYSE.ZTS
0,1491226200,2363.6101,42.3300,143.6800,129.6300,82.040,102.2300,85.2200,59.760,121.52,...,84.370,119.035,44.40,39.88,82.03,7.36,50.22,63.86,122.000,53.350
1,1491226260,2364.1001,42.3600,143.7000,130.3200,82.080,102.1400,85.6500,59.840,121.48,...,84.370,119.035,44.11,39.88,82.03,7.38,50.22,63.74,121.770,53.350
2,1491226320,2362.6799,42.3100,143.6901,130.2250,82.030,102.2125,85.5100,59.795,121.93,...,84.585,119.260,44.09,39.98,82.02,7.36,50.12,63.75,121.700,53.365
3,1491226380,2364.3101,42.3700,143.6400,130.0729,82.000,102.1400,85.4872,59.620,121.44,...,84.460,119.260,44.25,39.99,82.02,7.35,50.16,63.88,121.700,53.380
4,1491226440,2364.8501,42.5378,143.6600,129.8800,82.035,102.0600,85.7001,59.620,121.60,...,84.470,119.610,44.11,39.96,82.03,7.36,50.20,63.91,121.695,53.240

In [57]:
data.shape

(41266, 502)

In [58]:
X = data.iloc[:, 2:503]
X.shape

(41266, 500)

In [59]:
from sklearn.decomposition import PCA
pca = PCA(n_components=4)
X_train = pca.fit_transform(X)
explained_variance = pca.explained_variance_ratio_

In [60]:
explained_variance

array([0.66751335, 0.15499104, 0.08432464, 0.03526572])

In [61]:
PC1_Contri = pd.DataFrame(pca.components_)
PC1_Contri.columns = data.columns[2:503]
PC1_Contri

,NASDAQ.AAL,NASDAQ.AAPL,NASDAQ.ADBE,NASDAQ.ADI,NASDAQ.ADP,NASDAQ.ADSK,NASDAQ.AKAM,NASDAQ.ALXN,NASDAQ.AMAT,NASDAQ.AMD,...,NYSE.WYN,NYSE.XEC,NYSE.XEL,NYSE.XL,NYSE.XOM,NYSE.XRX,NYSE.XYL,NYSE.YUM,NYSE.ZBH,NYSE.ZTS
0,-0.013433,-0.020417,-0.038414,-0.002273,-0.013049,-0.047335,0.021246,-0.030637,-0.010832,-0.001797,...,-0.026011,0.054866,-0.006663,-0.008438,0.006669,-0.058021,-0.017920,-0.022411,-0.003656,-0.016481
1,-0.017124,0.014862,0.011331,-0.006554,0.020949,-0.021429,0.004437,0.077531,-0.013822,0.003897,...,-0.028845,-0.000137,0.004119,-0.004698,-0.013186,0.048431,0.017600,-0.001446,-0.039043,-0.016122
2,0.008011,-0.025323,-0.013992,-0.010717,0.031409,-0.043203,0.029368,0.064344,-0.007985,0.008983,...,-0.003358,0.012738,-0.010015,0.003893,0.006771,0.014267,-0.000496,-0.015398,0.019129,-0.016137
3,0.026232,-0.099385,-0.024403,0.001784,-0.020447,-0.035699,0.024865,-0.049763,-0.009343,0.014064,...,-0.002336,-0.086258,-0.011021,0.006091,0.011206,0.061555,-0.014750,-0.006936,0.093460,0.002918

In [62]:
df = PC1_Contri.T
df.columns = ['PC-1', 'PC-2', 'PC-3', 'PC-4']

In [67]:
df[['PC-1']].sort_values(['PC-1'], ascending=False)[0:10]

                 PC-1
NYSE.AZO     0.425573
NYSE.CMG     0.290214
NASDAQ.ORLY  0.145591
NYSE.AAP     0.097786
NYSE.GWW     0.092133
NASDAQ.ULTA  0.086479
NYSE.PXD     0.078024
NYSE.BLL     0.075419
NYSE.FL      0.069445
NYSE.XEC     0.054866

In [50]:
df[['PC-2']].sort_values(['PC-2'], ascending=False)[0:10]

                 PC-2
NASDAQ.CHTR  0.189275
NYSE.BA      0.127298
NASDAQ.BIIB  0.106420
NASDAQ.ALXN  0.077531
NASDAQ.SNI   0.072430
NASDAQ.VRTX  0.067557
NYSE.LMT     0.066313
NYSE.RL      0.057618
NYSE.COL     0.056240
NYSE.AMG     0.052554

In [51]:
df[['PC-3']].sort_values(['PC-3'], ascending=False)[0:10]

                 PC-3
NASDAQ.PCLN  0.754174
NYSE.AYI     0.130201
NYSE.AGN     0.122742
NYSE.GWW     0.083288
NASDAQ.BIIB  0.081685
NYSE.BLL     0.076807
NYSE.PXD     0.068851
NASDAQ.ALXN  0.064344
NYSE.AMG     0.062991
NYSE.URI     0.060790

In [52]:
df[['PC-4']].sort_values(['PC-4'], ascending=False)[0:10]

                 PC-4
NASDAQ.REGN  0.215471
NYSE.ADS     0.146707
NYSE.BLK     0.133405
NYSE.GWW     0.129321
NYSE.MCK     0.119480
NYSE.FDX     0.116286
NYSE.PXD     0.107051
NYSE.SHW     0.095566
NYSE.ZBH     0.093460
NYSE.AYI     0.090719